body{
	 color: white;
	font-font-family: georgia;
	width: 850px;
	margin: auto;
	background-image: url <a href=img src('images/cache/cache_b/cache_6/cache_1/hare-9d50a16b.jpeg?');</a> 
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #b3daff;
}

nav{
	padding:16px;
	text-align: center;
}
nav a{
	text-indent: -9999px;
	display: inline-block;
	width: 64px;
	height: 64px;
	margin: 0 8px;
	}

#home{
	background-image: url("images/home.png")
}
#info{
	background-image: url("images/info.png")
}
#links{
	background-image: url("images/links.png")
}
#photo{
	background-image: url("images/photo.png")
}
h1{
	background-image: url('images/cache/cache_b/cache_6/cache_1/hare-9d50a16b.jpeg?');
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	font-size: 50px;
	font-font-family: arial;
	padding: 50px;
	text-shadow: 2px 2px black;
}
h2{
	color: white;
}
p{
	line-height: 25px;
	font-size: 18px;
}
/*links page*/
.list{
	font-size: 24px;
	list-style-image: url('images/cache/cache_b/cache_6/cache_1/hare-9d50a16b.jpeg?');
	list-style: 16x16px;
}
a:hover{
	color: yellow;
}
a{
	 text-decoration: none;
	 color:orange;
}

.photos{ 
margin-bottom: 50px;
position: relative;
float: left;
width: 100%;
min-height: 700px;
}